extends layout

block body

  div(ng-view)
  script(src="js/d3/d3.v3.min.js")
  //script(src="js/d3/d3.layout.min.js")
  script(src="js/graphs/rickshaw/rickshaw.min.js")
  script(src='js/lib/jquery-2.0.3.min.js')
  script(src="js/lib/bootstrap.min.js")
  //stable
  script(src='js/lib/angular/angular.js')
  //unstable
  //script(src='js/angular/angular.js')
  script(src='js/dist/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
